
body{
    background: #E5E5E5;
    display: flex;
}
.theme{
margin-top: 70.33px;
margin-left: 162.86px;
}
.theme2{
margin-left: 162.86px;
margin-top: 340.33px; 
}
.black-backgrond{
background-color: black;
width: 430px;
height: 1024px;
margin-left: 878px;
margin-top: -520px;
}
.ring{
    margin-left: 730px;
   margin-top: -590px;
}
.line1{
    margin-left: 291px;
}