
body{
background: white;
display: flex;
}
.theme{
margin-top: 70.33px;
margin-left: 162.86px;
}
.theme2{
margin-left: 162.86px;
margin-top: 340.33px; 
}
.black-backgrond{
background-color: #272727;
width: 470px;
height: 1024px;
margin-left: 873px;
margin-top: -520px;
}
.ring{
margin-left: 730px;
margin-top: -590px;
}
.line1{
margin-left: 291px;
}
.first-text{
position: absolute;
width: 178px;
height: 24px;
left: 459px;
top: 575px;
font-family: "Segoe UI";
font-style: italic;
font-weight: 300;
font-size: 18px;
line-height: 24px;
display: flex;
align-items: center;
color: #272727;
}
.heart{
position: absolute;
left: 1018px;
top: 77px;
}
.label{
position: absolute;
left: 1080px;
top: 77px;
}
.castle{
position: absolute;
left: 1133px;
top: 77px;
}
.one{
position: absolute;
left: 1158px;
top: 83px;
font-family: "Futura PT";
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 23px;
display: flex;
align-items: center;
color: #FFFFFF;
}
.panel{
position: absolute;
left: 1248px;
top: 80px;
}
.description1{
position: absolute;
left: 1080px;
top: 878px;
font-family: "Future PT";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;
text-align: right;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #FFFFFF;

}
.description2{
position: absolute;
left: 1089px;
top: 908px;
font-family: "Futura PT";
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 23px;
display: flex;
align-items: center;
text-align: right;
color: #C2C2C2;
}
.description3{
position: absolute;
left: 1199px;
top: 940px;
font-family: "Segoe UI";
font-style: italic;
font-weight: 300;
font-size: 18px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
color: #EFC58B;
}
.ru{
position: absolute;
left: 162px;
top: 960px;
font-family: "Futura PT";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #272727;
}
.en{
position: absolute;
left: 192px;
top: 960px;
font-family: "Futura PT";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #C4C4C4;
}
.boy{
position: absolute;
width: 667px;
height: 587px;
left: 0px;
top: 1034px;
background-image: url(imgs/boy.png);
}
.phon{
position: absolute;
width: 667px;
height: 587px;
left: 0px;
top: 1034px;
background: rgba(39, 39, 39, 0.4);
}
.boy-text{
position: absolute;
left: 269px;
top: 1271px;

}
.girl{
position: absolute;
width: 667px;
height: 587px;
left: 683px;
top: 1034px;
background-image: url(imgs/girl.png);
}
.map{
position: absolute;
left: 667px;
top: 1640px;

}
.divmap{
position: absolute;
width: 667px;
height: 557px;
left: 0px;
top: 1640px;
background: #272727;
}
.man{
position: absolute;
left: 180px;
top: 1302px;
}
.line-man{
position: absolute;
left: 290px;
top: 1396px;
}
.woman{
position: absolute;
left: 1000px;
top: 1271px;

}
.for-woman{
position: absolute;
left: 908px;
top: 1302px;
}
.line-woman{
position: absolute;
left: 1024px;
top: 1396px;
}